body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
}
/*HEADER BEGIN-----------------------------*/
#navbut{
	 display:inline;
	 color: #fff;
	text-decoration:none;
	font-size:12px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	 
}
#navbut a{
	color: #fff;
	text-decoration:none;
	font-size:12px;
	padding-right:30px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;

}
#navbut:hover a{
	color: #0e91a1;
	text-decoration:none;
	font-size:12px;
	padding-right:30px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}


#accbut{
	 display:inline;
	 background-color:#0e91a1;
	 font
	 color: #fff;
	text-decoration:none;
	font-size:12px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align:center;
	text-transform: uppercase;
	letter-spacing: 1px;
	 
}
#accbut a{
	color: #fff;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;

}
#accbut:hover a{
	color: #fff;
	font-weight:bold;
	background-color:#11a2b4;
	text-decoration:none;
	font-size:12px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
}


/*HEADRE END--------------------------------*/
/*FOOTER BEG--------------------------------*/

footer{
	background-color:#000;
	color:#fff;
	height:250px;
	width:100%;
	/*position: fixed;*/
	bottom: 0px;
}
#footer_wrap{
		width:80%;
		margin: 80px auto;
		padding-top: 50px;
}
#coll {
	float: left;
	width: 300px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:10px;
	text-align:center;
}
#colr {

	float: right;
	text-align:center;
	width: 300px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size:10px;
}
/*FOOTER END-------------------*/
/*SEPERATO---------------------*/

#seperator {
border: 0;
height: 1px;
width:80%;
margin: 0px auto;
margin-top:60px;
margin-bottom:30px;
background: #333;
background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}
/*SEPERATOR END----------*/

#module_wrap{
	font-size:30px;
	width:80%;
	min-height:300px;
	margin: 0 auto;
}

#module_wrap_trend{
	font-size:30px;
	width:80%;
	margin: 0 auto;
}

.module_label{
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
		text-transform: uppercase;
    letter-spacing: 1px;
	color:black;
	font-weight:light;
	font-size:25px;
	width:100%;
	float:left;
	margin-top:30px;
	margin-bottom:30px;
}

.module_expand{
	color:black;
	cursor:pointer;
	font-size:16px;
	width:25px;
	float:right;
}
.module_expand a{
	color:black;
	font-size:16px;
}





/*TREND IMAGES------------------------*/
/* GRID SIZE 1 --------------------------*/
.grid-1 {
	display:inline;
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid-1 figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 0.5%;
	/*min-width: 90px;*/
	width: 160px;
	height: 120px;
	
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid-1 figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid-1 figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid-1 figure figcaption::before,
.grid-1 figure figcaption::after {
	pointer-events: none;
}

.grid-1 figure figcaption,
.grid-1 figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid-1 figure figcaption > a {
	z-index:1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid-1 figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
	font-size:18px;
	padding-top:15px;
}

.grid-1 figure h2 span {
	font-weight: 800;
}

.grid-1 figure h2,
.grid-1 figure p {
	margin: 0;
}

.grid-1 figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* GRID SIZE 2-----------*/
.grid-2 {
	display:inline;
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}
.grid-2 figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 0.5%;
	/*min-width: 180px;*/
	width: 320px;
	height: 240px;
	
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid-2 figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid-2 figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid-2 figure figcaption::before,
.grid-2 figure figcaption::after {
	pointer-events: none;
}

.grid-2 figure figcaption,
.grid-2 figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.grid-2 figure figcaption > a {
	
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid-2 figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid-2 figure h2 span {
	font-weight: 800;
}

.grid-2 figure h2,
.grid-2 figure p {
	margin: 0;
}

.grid-2 figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}
/*GRID SIZE 3--------------- */
.grid-3 {
	display:inline;
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid-3 figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 0.5%;
	/*min-width: 270px;*/
	width: 480px;
	height: 360px;
	
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid-3 figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid-3 figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid-3 figure figcaption::before,
.grid-3 figure figcaption::after {
	pointer-events: none;
}

.grid-3 figure figcaption,
.grid-3 figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid-3 figure figcaption > a {

	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid-3 figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid-3 figure h2 span {
	font-weight: 800;
}

.grid-3 figure h2,
.grid-3 figure p {
	margin: 0;
}

.grid-3 figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*IMAGE EFFECT-----------------*/
figure.effect-sadie figcaption::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(top, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,0.8) 75%);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(0,50%,0);
	transform: translate3d(0,50%,0);
}

figure.effect-sadie h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	color: #eee;
	-webkit-transition: -webkit-transform 0.35s, color 0.35s;
	transition: transform 0.35s, color 0.35s;
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
}

figure.effect-sadie figcaption::before,
figure.effect-sadie p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-sadie p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	opacity: 0;
	-webkit-transform: translate3d(0,10px,0);
	transform: translate3d(0,10px,0);
}

figure.effect-sadie:hover h2 {
	color: #fff;
	-webkit-transform: translate3d(0,-40%,0) translate3d(0,-40px,0);
	transform: translate3d(0,-40%,0) translate3d(0,-40px,0);
}

figure.effect-sadie:hover figcaption::before ,
figure.effect-sadie:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}


/*SEARCH----------------------*/
.bs_search_wrapper
{
	background-color:#000;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	width:100%;
	height:100px;
	margin: 0 auto;
}
/* Form wrapper styling */
.form-wrapper {
    max-width: 800px;

    padding: 8px 8px;
	margin-left:auto;
	margin-right:auto;
    background:#CCC;
    background: rgba(255,255,255,0);
    border-radius: 2px;
}
 
/* Form text input */
 
.form-wrapper input {
	width:78%;
    height: 45px;
    padding: 10px 15px;
    display:inline-block;   
    font-family: 'Open Sans', Arial, sans-serif;
    border: 0;
    background: #eee;
    border-radius: 2px 0 0 2px;      
}
 
.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.form-sugg{
	width: 611px; 
	height: 45px; 
	background-color:#eee; 
	outline-width:1px; 
	outline-color:#ccc; 
	outline-offset: -1px; 
	outline-style:solid;
	z-index: 50;
}
.form-wrapper button {
    overflow: visible;
    position: relative;
    display-inline:block;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 45px;
    width: 20%;
    font-family: 'Open Sans', Arial, sans-serif;
    color: #fff;
    text-transform: uppercase;
    background: #0e91a1;
    border-radius: 0 2px 2px 0;      
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   
   
.form-wrapper button:hover{     
    background: #11a2b4;
}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   
    background: #0f8695;
    outline: 0;   
}
 
.form-wrapper button:before {
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #0e91a1 transparent;
    top: 12px;
    left: -6px;
}
 
.form-wrapper button:hover:before{
    border-right-color: #11a2b4;
}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{
        border-right-color: #0f8695;
}      
 
.form-wrapper button::-moz-focus-inner {
    border: 0;
    padding: 0;
}    
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    